@{
    ViewData["Title"] = "Home Page";
}

<!-- Latest compiled and minified CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>UPDATE (3/10/2023):</strong> Added all data types for sending mode/transmission. Set the max buffer for RX to 5. Design changes to site.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="row">
    <br>
    <p class ="h1 text-primary">Serial COM Communications Web Application</p>
    <p class ="h2 text-secondary">Developed by Andrew Pipo</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br>
    <br>
    <br>
    <div class="col-sm-2">
        <p class="h3 p-3 text-dark-emphasis bg-dark-subtle border border-dark-subtle rounded-3">Port Settings <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-wide" viewBox="0 0 16 16">
        <path d="M8.932.727c-.243-.97-1.62-.97-1.864 0l-.071.286a.96.96 0 0 1-1.622.434l-.205-.211c-.695-.719-1.888-.03-1.613.931l.08.284a.96.96 0 0 1-1.186 1.187l-.284-.081c-.96-.275-1.65.918-.931 1.613l.211.205a.96.96 0 0 1-.434 1.622l-.286.071c-.97.243-.97 1.62 0 1.864l.286.071a.96.96 0 0 1 .434 1.622l-.211.205c-.719.695-.03 1.888.931 1.613l.284-.08a.96.96 0 0 1 1.187 1.187l-.081.283c-.275.96.918 1.65 1.613.931l.205-.211a.96.96 0 0 1 1.622.434l.071.286c.243.97 1.62.97 1.864 0l.071-.286a.96.96 0 0 1 1.622-.434l.205.211c.695.719 1.888.03 1.613-.931l-.08-.284a.96.96 0 0 1 1.187-1.187l.283.081c.96.275 1.65-.918.931-1.613l-.211-.205a.96.96 0 0 1 .434-1.622l.286-.071c.97-.243.97-1.62 0-1.864l-.286-.071a.96.96 0 0 1-.434-1.622l.211-.205c.719-.695.03-1.888-.931-1.613l-.284.08a.96.96 0 0 1-1.187-1.186l.081-.284c.275-.96-.918-1.65-1.613-.931l-.205.211a.96.96 0 0 1-1.622-.434L8.932.727zM8 12.997a4.998 4.998 0 1 1 0-9.995 4.998 4.998 0 0 1 0 9.996z"/>
        </svg></p>
        <br>
        <br>
        <p class="h6">Select BAUD</p>
        <select class="form-select-sm" aria-label="Dropdown for BAUDRATE Setting" name="BAUD" id="BAUD">
            <option value="none" selected disabled hidden>Select BAUDRATE</option>
            <option value="75">75</option>
            <option value="110">110</option>
            <option value="134">134</option>
            <option value="150">150</option>
            <option value="300">300</option>
            <option value="600">600</option>
            <option value="1200">1200</option>
            <option value="1800">1800</option>
            <option value="2400">2400</option>
            <option value="4800">4800</option>
            <option value="7200">7200</option>
            <option value="9600">9600</option>
            <option value="14400">14400</option>
            <option value="19200">19200</option>
            <option value="38400">38400</option>
            <option value="57600">57600</option>
            <option value="115200">115200</option>
            <option value="128000">128000</option>
        </select>
        <br>
        <br>
        <p class="h6">Select Parity</p>
        <select class="form-select-sm" aria-label="Dropdown for Parity Setting" name="Parity" id="Parity">
            <option value="" selected disabled hidden>Select Parity Option</option>
            <option value="none">None</option>
            <option value="even">Even</option>
            <option value="odd">Odd</option>
            <option value="mark">Mark</option>
            <option value="space">Space</option>
        </select>
        <br>
        <br>
        <p class="h6">Select DataBits</p>
        <select class="form-select-sm" aria-label="Dropdown for DataBits Setting" name="DataBits" id="DataBits">
            <option value="none" selected disabled hidden>Select DataBits Option</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
        </select>
        <br>
        <br>
        <p class="h6">Select StopBits</p>
        <select class="form-select-sm" aria-label="Dropdown for StopBits Setting" name="StopBits" id="StopBits">
            <option value="none" selected disabled hidden>Select StopBits Option</option>
            <option value="1">1</option>
            <option value="1.5">1.5</option>
            <option value="2">2</option>
        </select>
        <br>
        <br>
    </div>
    <br>
    <div class="col-sm-2">
        <p class="h3 p-3 text-dark-emphasis bg-dark-subtle border border-dark-subtle rounded-3"> Port Settings <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-wide" viewBox="0 0 16 16">
        <path d="M8.932.727c-.243-.97-1.62-.97-1.864 0l-.071.286a.96.96 0 0 1-1.622.434l-.205-.211c-.695-.719-1.888-.03-1.613.931l.08.284a.96.96 0 0 1-1.186 1.187l-.284-.081c-.96-.275-1.65.918-.931 1.613l.211.205a.96.96 0 0 1-.434 1.622l-.286.071c-.97.243-.97 1.62 0 1.864l.286.071a.96.96 0 0 1 .434 1.622l-.211.205c-.719.695-.03 1.888.931 1.613l.284-.08a.96.96 0 0 1 1.187 1.187l-.081.283c-.275.96.918 1.65 1.613.931l.205-.211a.96.96 0 0 1 1.622.434l.071.286c.243.97 1.62.97 1.864 0l.071-.286a.96.96 0 0 1 1.622-.434l.205.211c.695.719 1.888.03 1.613-.931l-.08-.284a.96.96 0 0 1 1.187-1.187l.283.081c.96.275 1.65-.918.931-1.613l-.211-.205a.96.96 0 0 1 .434-1.622l.286-.071c.97-.243.97-1.62 0-1.864l-.286-.071a.96.96 0 0 1-.434-1.622l.211-.205c.719-.695.03-1.888-.931-1.613l-.284.08a.96.96 0 0 1-1.187-1.186l.081-.284c.275-.96-.918-1.65-1.613-.931l-.205.211a.96.96 0 0 1-1.622-.434L8.932.727zM8 12.997a4.998 4.998 0 1 1 0-9.995 4.998 4.998 0 0 1 0 9.996z"/>
        </svg></p>
        <br>
        <br>
        <p class = "h6">Select Read Timeout</p>
        <select class="form-select-sm" aria-label="Dropdown for ReadTimeout Setting" name="ReadTimeout" id="ReadTimeout">
            <option value="none" selected disabled hidden>Select Read Timeout Option</option>
            <option value="-1">-1</option>
            <option value="500">500</option>
        </select>
        <br>
        <br>
        <p class="h6">Select Write Timeout</p>
        <select class="form-select-sm" aria-label="Dropdown for WriteTimeout Setting" name="WriteTimeout" id="WriteTimeout">
            <option value="none" selected disabled hidden>Select Write Timeout Option</option>
            <option value="-1">-1</option>
            <option value="500">500</option>
        </select>
        <br>
        <br>
        <p class="h6">Select Handshake</p>
        <select class="form-select-sm" aria-label="Dropdown for Handshake Setting" name="Handshake" id="Handshake">
            <option value="" selected disabled hidden>Select Handshake Option</option>
            <option value="none">None</option>
            <option value="software">Software (XON/XOFF)</option>
            <option value="hardware">Hardware (RTS/CTS)</option>
            <option value="xon">XOnXOff</option>
        </select>
        <br>
        <br>
        <p class="h6">Select Delay (ms)</p>
        <select class="form-select-sm" aria-label="Dropdown for Delay Setting" name="Delay" id="Delay">
            <option value="none" selected disabled hidden>Select Delay (ms) Option</option>
            <option value="100">100</option>
            <option value="500">500</option>
            <option value="1000">1000</option>
            <option value="5000">5000</option>
        </select>
        <br>
        <br>
    </div>
    <div class="col-sm-2">
        <p class="h3 p-3 text-dark-emphasis bg-dark-subtle border border-dark-subtle rounded-3">I/O Settings <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-wide" viewBox="0 0 16 16">
        <path d="M8.932.727c-.243-.97-1.62-.97-1.864 0l-.071.286a.96.96 0 0 1-1.622.434l-.205-.211c-.695-.719-1.888-.03-1.613.931l.08.284a.96.96 0 0 1-1.186 1.187l-.284-.081c-.96-.275-1.65.918-.931 1.613l.211.205a.96.96 0 0 1-.434 1.622l-.286.071c-.97.243-.97 1.62 0 1.864l.286.071a.96.96 0 0 1 .434 1.622l-.211.205c-.719.695-.03 1.888.931 1.613l.284-.08a.96.96 0 0 1 1.187 1.187l-.081.283c-.275.96.918 1.65 1.613.931l.205-.211a.96.96 0 0 1 1.622.434l.071.286c.243.97 1.62.97 1.864 0l.071-.286a.96.96 0 0 1 1.622-.434l.205.211c.695.719 1.888.03 1.613-.931l-.08-.284a.96.96 0 0 1 1.187-1.187l.283.081c.96.275 1.65-.918.931-1.613l-.211-.205a.96.96 0 0 1 .434-1.622l.286-.071c.97-.243.97-1.62 0-1.864l-.286-.071a.96.96 0 0 1-.434-1.622l.211-.205c.719-.695.03-1.888-.931-1.613l-.284.08a.96.96 0 0 1-1.187-1.186l.081-.284c.275-.96-.918-1.65-1.613-.931l-.205.211a.96.96 0 0 1-1.622-.434L8.932.727zM8 12.997a4.998 4.998 0 1 1 0-9.995 4.998 4.998 0 0 1 0 9.996z"/>
        </svg></p>
        <br>
        <br>
        <p class="h6">Select Mode</p>
        <select class="form-select-sm" aria-label="Dropdown for Mode Setting" name="Mode" id="Mode">
            <option value="Idle Mode">Idle Mode</option>
            <option value="Send Mode">Send Mode</option>
            <option value="Receive Mode">Receive Mode</option>
        </select>
        <br>
        <br>
        <p class="h6">Select Data Type</p>
        <select class="form-select-sm" aria-label="Dropdown for DataType Setting" name="DataType" id="DataType">
            <option value="none" selected disabled hidden>Select Data Type Option</option>
            <option value="Byte">Byte</option>
            <option value="String">String</option>
            <option value="BC">Byte Collection</option>
            <option value="ASCII">ASCII</option>
            <option value="HEX">HEX</option>
        </select>
        <br>
        <br>
        <p class="h6">Tx Data Input</p>
        <form id="inputForm">
        <input class="form-control w-100" type="text" aria-label="Input" id="Input">
        </form>
        <br>
        <br>
    </div>
    <br>
    <div class="col-sm-2">

    </div>
    <div class="col-sm-2">
    <p class="h3 p-3 text-dark-emphasis bg-dark-subtle border border-dark-subtle rounded-3">TX <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-input-cursor-text" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M5 2a.5.5 0 0 1 .5-.5c.862 0 1.573.287 2.06.566.174.099.321.198.44.286.119-.088.266-.187.44-.286A4.165 4.165 0 0 1 10.5 1.5a.5.5 0 0 1 0 1c-.638 0-1.177.213-1.564.434a3.49 3.49 0 0 0-.436.294V7.5H9a.5.5 0 0 1 0 1h-.5v4.272c.1.08.248.187.436.294.387.221.926.434 1.564.434a.5.5 0 0 1 0 1 4.165 4.165 0 0 1-2.06-.566A4.561 4.561 0 0 1 8 13.65a4.561 4.561 0 0 1-.44.285 4.165 4.165 0 0 1-2.06.566.5.5 0 0 1 0-1c.638 0 1.177-.213 1.564-.434.188-.107.335-.214.436-.294V8.5H7a.5.5 0 0 1 0-1h.5V3.228a3.49 3.49 0 0 0-.436-.294A3.166 3.166 0 0 0 5.5 2.5.5.5 0 0 1 5 2z"/>
    <path d="M10 5h4a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1h-4v1h4a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-4v1zM6 5V4H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v-1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h4z"/>
    </svg></p>
    <div class="panel panel-primary" style="border: 2px solid blue">
    <div class="panel-body">
    @for (int i = 0; i < 5; i++) {
    <form id="inputForm">
        <label for="input@(i+1)">Input @(i+1)</label>
        <input class="form-control w-100" type="text" aria-label="input@(i+1)" id="input@(i+1)">
    </form>
    }
    </div>
    </div>
    <br>
    <br>
    </div>
    <br>
    <div class='col-sm-2'>
    <p class="h3 p-3 text-dark-emphasis bg-dark-subtle border border-dark-subtle rounded-3">RX <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tv" viewBox="0 0 16 16">
    <path d="M2.5 13.5A.5.5 0 0 1 3 13h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zM13.991 3l.024.001a1.46 1.46 0 0 1 .538.143.757.757 0 0 1 .302.254c.067.1.145.277.145.602v5.991l-.001.024a1.464 1.464 0 0 1-.143.538.758.758 0 0 1-.254.302c-.1.067-.277.145-.602.145H2.009l-.024-.001a1.464 1.464 0 0 1-.538-.143.758.758 0 0 1-.302-.254C1.078 10.502 1 10.325 1 10V4.009l.001-.024a1.46 1.46 0 0 1 .143-.538.758.758 0 0 1 .254-.302C1.498 3.078 1.675 3 2 3h11.991zM14 2H2C0 2 0 4 0 4v6c0 2 2 2 2 2h12c2 0 2-2 2-2V4c0-2-2-2-2-2z"/>
    </svg></p>
    <div class="panel panel-primary" style="border: 2px solid blue">
    <div class="panel-body">
    @for (int i = 0; i < 5; i++) {
    <form id="outputForm">
        <label for="output@(i+1)">Output @(i+1)</label>
        <input class="form-control w-100" type="text" aria-label="output@(i+1)" id="output@(i+1)">
    </form>
    }
    </div>
    </div>
    <br>
    <br>
    </div>
    <p class ="h3 p-3 text-dark-emphasis bg-dark-subtle border border-dark-subtle rounded-3">Optional Settings <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-wide" viewBox="0 0 16 16">
    <path d="M8.932.727c-.243-.97-1.62-.97-1.864 0l-.071.286a.96.96 0 0 1-1.622.434l-.205-.211c-.695-.719-1.888-.03-1.613.931l.08.284a.96.96 0 0 1-1.186 1.187l-.284-.081c-.96-.275-1.65.918-.931 1.613l.211.205a.96.96 0 0 1-.434 1.622l-.286.071c-.97.243-.97 1.62 0 1.864l.286.071a.96.96 0 0 1 .434 1.622l-.211.205c-.719.695-.03 1.888.931 1.613l.284-.08a.96.96 0 0 1 1.187 1.187l-.081.283c-.275.96.918 1.65 1.613.931l.205-.211a.96.96 0 0 1 1.622.434l.071.286c.243.97 1.62.97 1.864 0l.071-.286a.96.96 0 0 1 1.622-.434l.205.211c.695.719 1.888.03 1.613-.931l-.08-.284a.96.96 0 0 1 1.187-1.187l.283.081c.96.275 1.65-.918.931-1.613l-.211-.205a.96.96 0 0 1 .434-1.622l.286-.071c.97-.243.97-1.62 0-1.864l-.286-.071a.96.96 0 0 1-.434-1.622l.211-.205c.719-.695.03-1.888-.931-1.613l-.284.08a.96.96 0 0 1-1.187-1.186l.081-.284c.275-.96-.918-1.65-1.613-.931l-.205.211a.96.96 0 0 1-1.622-.434L8.932.727zM8 12.997a4.998 4.998 0 1 1 0-9.995 4.998 4.998 0 0 1 0 9.996z"/>
    </svg></p>
    <br>
    <br>
    <div class="col-sm-4">
    <br>
    <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="repeat" aria-label="Checkbox for repeating transmisison">
    <label class="form-check-label" for="flexSwitchCheckDefault">Repeat Transmission?</label>
    </div>
    <br>
    </div>
    <div class="col-sm-4">
    <br>
    <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="log" aria-label="Checkbox for logging transmisison>
    <label class="form-check-label" for="flexSwitchCheckDefault">Log Transmission?</label>
    </div>
    <br>
    </div>
    <div class="col-sm-4">
    <br>
    <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="overwrite" aria-label="Checkbox for overwriting Rx" disabled>
    <label class="form-check-label" for="flexSwitchCheckDefault">Overwrite RX?</label>
    </div>
    <br>
    </div>
    <br>
    <br>
    <p class ="h3 p-3 text-dark-emphasis bg-dark-subtle border border-dark-subtle rounded-3">Send/Receive <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
    </svg></p>
    <br>
    <br>
    <div class="col-sm-6">
        <br>
        <p class="h3">Start Transmission <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
        </svg></p>
        <br>
        <button class="btn btn-success" onclick="TxRxCaller()">START</button>
        <br>
        <br>
    </div>
    <div class="col-sm-6">
        <br>
        <p class="h3">Stop Transmission <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sign-stop-fill" viewBox="0 0 16 16">
        <path d="M10.371 8.277v-.553c0-.827-.422-1.234-.987-1.234-.572 0-.99.407-.99 1.234v.553c0 .83.418 1.237.99 1.237.565 0 .987-.408.987-1.237Zm2.586-.24c.463 0 .735-.272.735-.744s-.272-.741-.735-.741h-.774v1.485h.774Z"/>
        <path d="M4.893 0a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146A.5.5 0 0 0 11.107 0H4.893ZM3.16 10.08c-.931 0-1.447-.493-1.494-1.132h.653c.065.346.396.583.891.583.524 0 .83-.246.83-.62 0-.303-.203-.467-.637-.572l-.656-.164c-.61-.147-.978-.51-.978-1.078 0-.706.597-1.184 1.444-1.184.853 0 1.386.475 1.436 1.087h-.645c-.064-.32-.352-.542-.797-.542-.472 0-.77.246-.77.6 0 .261.196.437.553.522l.654.161c.673.164 1.06.487 1.06 1.11 0 .736-.574 1.228-1.544 1.228Zm3.427-3.51V10h-.665V6.57H4.753V6h3.006v.568H6.587Zm4.458 1.16v.544c0 1.131-.636 1.805-1.661 1.805-1.026 0-1.664-.674-1.664-1.805V7.73c0-1.136.638-1.807 1.664-1.807 1.025 0 1.66.674 1.66 1.807ZM11.52 6h1.535c.82 0 1.316.55 1.316 1.292 0 .747-.501 1.289-1.321 1.289h-.865V10h-.665V6.001Z"/>
        </svg></p>
        <br>
        <button id="stop-button" class="btn btn-danger">STOP</button>
        <br>
        <br>
    </div>
</div>
