@{
    ViewData["Title"] = "Home Page";
}

<!-- Latest compiled and minified CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>UPDATE (3/9/2023):</strong> Added Design Aspects for New Features. Delay Dropdown issue fixed. NOTE: Most of the new Features DO NOT Work as the JavaScript Code is not in place.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="row">
    <br>
    <p class ="h1 text-primary">Serial COM Communications Web Application</p>
    <p class ="h2 text-secondary">Developed by Andrew Pipo</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br>
    <br>
    <br>
    <div class="col-sm-4">
        <p class="h3 p-3 text-dark-emphasis bg-dark-subtle border border-dark-subtle rounded-3">Port Settings <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-wide" viewBox="0 0 16 16">
        <path d="M8.932.727c-.243-.97-1.62-.97-1.864 0l-.071.286a.96.96 0 0 1-1.622.434l-.205-.211c-.695-.719-1.888-.03-1.613.931l.08.284a.96.96 0 0 1-1.186 1.187l-.284-.081c-.96-.275-1.65.918-.931 1.613l.211.205a.96.96 0 0 1-.434 1.622l-.286.071c-.97.243-.97 1.62 0 1.864l.286.071a.96.96 0 0 1 .434 1.622l-.211.205c-.719.695-.03 1.888.931 1.613l.284-.08a.96.96 0 0 1 1.187 1.187l-.081.283c-.275.96.918 1.65 1.613.931l.205-.211a.96.96 0 0 1 1.622.434l.071.286c.243.97 1.62.97 1.864 0l.071-.286a.96.96 0 0 1 1.622-.434l.205.211c.695.719 1.888.03 1.613-.931l-.08-.284a.96.96 0 0 1 1.187-1.187l.283.081c.96.275 1.65-.918.931-1.613l-.211-.205a.96.96 0 0 1 .434-1.622l.286-.071c.97-.243.97-1.62 0-1.864l-.286-.071a.96.96 0 0 1-.434-1.622l.211-.205c.719-.695.03-1.888-.931-1.613l-.284.08a.96.96 0 0 1-1.187-1.186l.081-.284c.275-.96-.918-1.65-1.613-.931l-.205.211a.96.96 0 0 1-1.622-.434L8.932.727zM8 12.997a4.998 4.998 0 1 1 0-9.995 4.998 4.998 0 0 1 0 9.996z"/>
        </svg></p>
        <br>
        <br>
        <p class="h6">Select BAUD</p>
        <select class="form-select-sm" aria-label="Dropdown for BAUDRATE Setting" name="BAUD" id="BAUD">
            <option value="none" selected disabled hidden>Select BAUDRATE</option>
            <option value="75">75</option>
            <option value="110">110</option>
            <option value="134">134</option>
            <option value="150">150</option>
            <option value="300">300</option>
            <option value="600">600</option>
            <option value="1200">1200</option>
            <option value="1800">1800</option>
            <option value="2400">2400</option>
            <option value="4800">4800</option>
            <option value="7200">7200</option>
            <option value="9600">9600</option>
            <option value="14400">14400</option>
            <option value="19200">19200</option>
            <option value="38400">38400</option>
            <option value="57600">57600</option>
            <option value="115200">115200</option>
            <option value="128000">128000</option>
        </select>
        <br>
        <br>
        <p class="h6">Select Parity</p>
        <select class="form-select-sm" aria-label="Dropdown for Parity Setting" name="Parity" id="Parity">
            <option value="" selected disabled hidden>Select Parity Option</option>
            <option value="none">None</option>
            <option value="even">Even</option>
            <option value="odd">Odd</option>
            <option value="mark">Mark</option>
            <option value="space">Space</option>
        </select>
        <br>
        <br>
        <p class="h6">Select DataBits</p>
        <select class="form-select-sm" aria-label="Dropdown for DataBits Setting" name="DataBits" id="DataBits">
            <option value="none" selected disabled hidden>Select DataBits Option</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
        </select>
        <br>
        <br>
        <p class="h6">Select StopBits</p>
        <select class="form-select-sm" aria-label="Dropdown for StopBits Setting" name="StopBits" id="StopBits">
            <option value="none" selected disabled hidden>Select StopBits Option</option>
            <option value="1">1</option>
            <option value="1.5">1.5</option>
            <option value="2">2</option>
        </select>
        <br>
        <br>
    </div>
    <br>
    <div class="col-sm-4">
        <p class="h3 p-3 text-dark-emphasis bg-dark-subtle border border-dark-subtle rounded-3"> More Port Settings <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-wide" viewBox="0 0 16 16">
        <path d="M8.932.727c-.243-.97-1.62-.97-1.864 0l-.071.286a.96.96 0 0 1-1.622.434l-.205-.211c-.695-.719-1.888-.03-1.613.931l.08.284a.96.96 0 0 1-1.186 1.187l-.284-.081c-.96-.275-1.65.918-.931 1.613l.211.205a.96.96 0 0 1-.434 1.622l-.286.071c-.97.243-.97 1.62 0 1.864l.286.071a.96.96 0 0 1 .434 1.622l-.211.205c-.719.695-.03 1.888.931 1.613l.284-.08a.96.96 0 0 1 1.187 1.187l-.081.283c-.275.96.918 1.65 1.613.931l.205-.211a.96.96 0 0 1 1.622.434l.071.286c.243.97 1.62.97 1.864 0l.071-.286a.96.96 0 0 1 1.622-.434l.205.211c.695.719 1.888.03 1.613-.931l-.08-.284a.96.96 0 0 1 1.187-1.187l.283.081c.96.275 1.65-.918.931-1.613l-.211-.205a.96.96 0 0 1 .434-1.622l.286-.071c.97-.243.97-1.62 0-1.864l-.286-.071a.96.96 0 0 1-.434-1.622l.211-.205c.719-.695.03-1.888-.931-1.613l-.284.08a.96.96 0 0 1-1.187-1.186l.081-.284c.275-.96-.918-1.65-1.613-.931l-.205.211a.96.96 0 0 1-1.622-.434L8.932.727zM8 12.997a4.998 4.998 0 1 1 0-9.995 4.998 4.998 0 0 1 0 9.996z"/>
        </svg></p>
        <br>
        <br>
        <p class = "h6">Select Read Timeout</p>
        <select class="form-select-sm" aria-label="Dropdown for ReadTimeout Setting" name="ReadTimeout" id="ReadTimeout">
            <option value="none" selected disabled hidden>Select Read Timeout Option</option>
            <option value="-1">-1</option>
            <option value="500">500</option>
        </select>
        <br>
        <br>
        <p class="h6">Select Write Timeout</p>
        <select class="form-select-sm" aria-label="Dropdown for WriteTimeout Setting" name="WriteTimeout" id="WriteTimeout">
            <option value="none" selected disabled hidden>Select Write Timeout Option</option>
            <option value="-1">-1</option>
            <option value="500">500</option>
        </select>
        <br>
        <br>
        <p class="h6">Select Handshake</p>
        <select class="form-select-sm" aria-label="Dropdown for Handshake Setting" name="Handshake" id="Handshake">
            <option value="" selected disabled hidden>Select Handshake Option</option>
            <option value="none">None</option>
            <option value="software">Software (XON/XOFF)</option>
            <option value="hardware">Hardware (RTS/CTS)</option>
            <option value="xon">XOnXOff</option>
        </select>
        <br>
        <br>
        <p class="h6">Select Delay (ms)</p>
        <select class="form-select-sm" aria-label="Dropdown for Delay Setting" name="Delay" id="Delay">
            <option value="none" selected disabled hidden>Select Delay (ms) Option</option>
            <option value="100">100</option>
            <option value="500">500</option>
            <option value="1000">1000</option>
            <option value="5000">5000</option>
        </select>
        <br>
        <br>
    </div>
    <div class="col-sm-4">
        <p class="h3 p-3 text-dark-emphasis bg-dark-subtle border border-dark-subtle rounded-3">I/O Settings <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-wide" viewBox="0 0 16 16">
        <path d="M8.932.727c-.243-.97-1.62-.97-1.864 0l-.071.286a.96.96 0 0 1-1.622.434l-.205-.211c-.695-.719-1.888-.03-1.613.931l.08.284a.96.96 0 0 1-1.186 1.187l-.284-.081c-.96-.275-1.65.918-.931 1.613l.211.205a.96.96 0 0 1-.434 1.622l-.286.071c-.97.243-.97 1.62 0 1.864l.286.071a.96.96 0 0 1 .434 1.622l-.211.205c-.719.695-.03 1.888.931 1.613l.284-.08a.96.96 0 0 1 1.187 1.187l-.081.283c-.275.96.918 1.65 1.613.931l.205-.211a.96.96 0 0 1 1.622.434l.071.286c.243.97 1.62.97 1.864 0l.071-.286a.96.96 0 0 1 1.622-.434l.205.211c.695.719 1.888.03 1.613-.931l-.08-.284a.96.96 0 0 1 1.187-1.187l.283.081c.96.275 1.65-.918.931-1.613l-.211-.205a.96.96 0 0 1 .434-1.622l.286-.071c.97-.243.97-1.62 0-1.864l-.286-.071a.96.96 0 0 1-.434-1.622l.211-.205c.719-.695.03-1.888-.931-1.613l-.284.08a.96.96 0 0 1-1.187-1.186l.081-.284c.275-.96-.918-1.65-1.613-.931l-.205.211a.96.96 0 0 1-1.622-.434L8.932.727zM8 12.997a4.998 4.998 0 1 1 0-9.995 4.998 4.998 0 0 1 0 9.996z"/>
        </svg></p>
        <br>
        <br>
        <p class="h6">Select Mode</p>
        <select class="form-select-sm" aria-label="Dropdown for Mode Setting" name="Mode" id="Mode">
            <option value="Idle Mode">Idle Mode</option>
            <option value="Send Mode">Send Mode</option>
            <option value="Receive Mode">Receive Mode</option>
            <option value="Send and Receive Mode">Send and Receive Mode</option>
        </select>
        <br>
        <br>
        <p class="h6">Select Data Type</p>
        <select class="form-select-sm" aria-label="Dropdown for DataType Setting" name="DataType" id="DataType">
            <option value="none" selected disabled hidden>Select Data Type Option</option>
            <option value="Byte">Byte</option>
            <option value="String">String</option>
            <option value="BC">Byte Collection</option>
            <option value="ASCII">ASCII</option>
            <option value="HEX">HEX</option>
        </select>
        <br>
        <br>
        <p class="h6">Tx Data Input</p>
        <form id="inputForm">
        <input class="form-control w-100" type="text" aria-label="Input" id="Input">
        </form>
        <br>
        <br>
        <p class="h6">Rx Data Output</p>
        <form id="outputForm">
        <input class="form-control w-100" type="text" aria-label="Output" id="Output">
        </form>
        <br>
        <br>
    </div>
    <br>
    <p class ="h3 p-3 text-dark-emphasis bg-dark-subtle border border-dark-subtle rounded-3">Optional Settings <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-wide" viewBox="0 0 16 16">
    <path d="M8.932.727c-.243-.97-1.62-.97-1.864 0l-.071.286a.96.96 0 0 1-1.622.434l-.205-.211c-.695-.719-1.888-.03-1.613.931l.08.284a.96.96 0 0 1-1.186 1.187l-.284-.081c-.96-.275-1.65.918-.931 1.613l.211.205a.96.96 0 0 1-.434 1.622l-.286.071c-.97.243-.97 1.62 0 1.864l.286.071a.96.96 0 0 1 .434 1.622l-.211.205c-.719.695-.03 1.888.931 1.613l.284-.08a.96.96 0 0 1 1.187 1.187l-.081.283c-.275.96.918 1.65 1.613.931l.205-.211a.96.96 0 0 1 1.622.434l.071.286c.243.97 1.62.97 1.864 0l.071-.286a.96.96 0 0 1 1.622-.434l.205.211c.695.719 1.888.03 1.613-.931l-.08-.284a.96.96 0 0 1 1.187-1.187l.283.081c.96.275 1.65-.918.931-1.613l-.211-.205a.96.96 0 0 1 .434-1.622l.286-.071c.97-.243.97-1.62 0-1.864l-.286-.071a.96.96 0 0 1-.434-1.622l.211-.205c.719-.695.03-1.888-.931-1.613l-.284.08a.96.96 0 0 1-1.187-1.186l.081-.284c.275-.96-.918-1.65-1.613-.931l-.205.211a.96.96 0 0 1-1.622-.434L8.932.727zM8 12.997a4.998 4.998 0 1 1 0-9.995 4.998 4.998 0 0 1 0 9.996z"/>
    </svg></p>
    <br>
    <br>
    <div class="col-sm-4">
    <br>
    <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="repeat">
    <label class="form-check-label" for="flexSwitchCheckDefault">Repeat Transmission?</label>
    </div>
    <br>
    </div>
    <div class="col-sm-4">
    <br>
    <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="log">
    <label class="form-check-label" for="flexSwitchCheckDefault">Log Transmission?</label>
    </div>
    <br>
    </div>
    <div class="col-sm-4">
    <br>
    <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="overwrite" disabled>
    <label class="form-check-label" for="flexSwitchCheckDefault">Overwrite RX?</label>
    </div>
    <br>
    </div>
    <br>
    <br>
    <p class ="h3 p-3 text-dark-emphasis bg-dark-subtle border border-dark-subtle rounded-3">Send/Receive <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
    </svg></p>
    <br>
    <br>
    <div class="col-sm-6">
        <br>
        <p class="h3">Send Data <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
        </svg></p>
        <br>
        <button class="btn btn-primary" onclick="sendData()">Send Data</button>
        <br>
    </div>
    <div class="col-sm-6">
        <br>
        <p class="h3">Receive Data <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
        </svg></p>
        <br>
        <button class="btn btn-primary" onclick="receiveData()">Receive Data</button>
        <br>
        <p id="received-data"></p>
        <br>
        <br>
    </div>
</div>
