@{
    ViewData["Title"] = "Updates Page";
}

<div class="alert alert-warning" role="alert">
  <strong>UPDATE (3/10/2023):</strong> Added all data types for sending mode/transmission. Increased allowed inputs to 7 from 1. Increases Max RX Buffer to 7 from 5. Design Changes.
</div>
<div class="alert alert-warning" role="alert">
  <strong>UPDATE (3/9/2023):</strong> Added Design Aspects for New Features. Delay Dropdown issue fixed. Improved Sending Functionality, logging for send function. NOTE: Some new Features DO NOT Work as the JavaScript Code is not in place.
</div>
<div class="alert alert-warning" role="alert">
  <strong>UPDATE (3/8/2023):</strong> Started Implementation of Bootstrap 5 Framework. Improved Sending and Receiving JS Functionality. Design Changes.
</div>
<div class="alert alert-warning" role="alert">
  <strong>UPDATE (3/7/2023):</strong> Dropdown Functionality working as fully intended, with exception of the DELAY setting.
</div>
