@{
    ViewData["Title"] = "Updates Page";
}

<div class="alert alert-warning" role="alert">
  <strong>UPDATE (3/8/2023):</strong> Started Implementation of Bootstrap 5 Framework
</div>
<div class="alert alert-warning" role="alert">
  <strong>UPDATE (3/7/2023):</strong> Dropdown Functionality working as fully intended, with exception of the DELAY setting.
</div>