@{
    ViewData["Title"] = "Updates Page";
}

<div class="header">
<br>
<h3>Updates:</h3>
<h4>As of March 7, 2023</h4>
<br>
<p>Design Changes were made to entire application</p>
<p>BAUDRATE is only dropdown that fully functions as intended</p>
<br>
</div>