html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image: url('Images/background-UCCEAS.jpg');
  background-size: cover;
  background-repeat: fill;
  background-position: center;
}

h2 {
  font: 'Times New Roman';
  color: #00457c;
}


.sendbutton {

  background-color: lightseagreen;

}

.receivebutton {

  background-color: lightcoral;

}


.panel {

  width: 400px;
  text-align: center;
  outline-style: solid;
  outline-width: medium;
  outline-color: #00457c;

}

.row {

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px; /* Set the maximum width */
  margin: 0 auto; /* Center the container */
  background: #eee;
  position: relative;
  text-align:center;
  outline-style: solid;
  outline-width: medium;
  outline-color: #00457c;

}

.header {

  max-width: 1200px; /* Set the maximum width */
  outline-style: solid;
  outline-width: medium;
  background-color: #eee;
  text-align: center;
  margin: 0 auto; /* Center the container */
}

.footer {

  background-color: white;
}